<div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>Número</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in pCtrl.person.addresses">
                    <td>
                        <input ng-model="address.city" class="form-control" placeholder="Informe a Cidade"
                            ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="address.zipcode" class="form-control" placeholder="Informe o CEP"
                        ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="address.number" class="form-control" placeholder="Informe o Numero"
                        ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td class="table-actions">
                        <button class="btn btn-success" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.addAddress($index)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-warning" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.cloneAddress($index, contact)">
                            <i class="fa fa-clone" ></i>
                        </button>
                        <button class="btn btn-danger" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.deleteAddress($index)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
    