<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Contato</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in pCtrl.person.contacts">
                <td>
                    <list-box id="contact.type" grid="12" values="CELULAR FIXO EMERGENCIA" 
                        model="contact.type" readonly="pCtrl.tabdelete"></list-box>
                </td>
                <td>
                    <input ng-model="contact.contact" class="form-control" placeholder="Informe o Contato"
                        ng-readonly="pCtrl.tabDelete" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.addContact($index)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.cloneContact($index, contact)">
                        <i class="fa fa-clone" ></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.deleteContact($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>    
        </tbody>
    </table>
</div>
