<div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Observação</th>
                    <th>Frequência</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="physicalActivity in pCtrl.patient.physicalactivities">
                    <td>
                        <list-box id="physicalActivity.type" grid="12 6 4" values="AERÓBICO ANAERÓBICO ALONGAMENTO OUTROS" 
                            model="physicalActivity.type" readonly="pCtrl.tabdelete"></list-box>
                    </td>
                    <td>
                        <input ng-model="physicalActivity.description" class="form-control" placeholder="Informe o nome"
                        ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="physicalActivity.observation" class="form-control" placeholder="Observação"
                        ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="physicalActivity.othen" class="form-control" placeholder="3x/semana" 
                        ng-readonly="pCtrl.tabDelete" />
                    </td>
                    <td class="table-actions">
                        <button class="btn btn-success" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.addPhysicalActivity($index)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-warning" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.clonePhysicalActivity($index, physicalActivity)">
                            <i class="fa fa-clone" ></i>
                        </button>
                        <button class="btn btn-danger" ng-disabled="pCtrl.tabDelete"  ng-click="pCtrl.deletePhysicalActivity($index)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
    