<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Observação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="addiction in pCtrl.patient.addictions">
                <td>
                    <list-box id="addiction.type" grid="12 6 4" values="ÁLCOOL JOGO NARCÓTICO COMPORTAMENTAL OUTROS" model="addiction.type" readonly="pCtrl.tabdelete"></list-box>
                </td>
                <td>
                    <input ng-model="addiction.description" class="form-control" placeholder="Informe o nome" ng-readonly="pCtrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="addiction.observation" class="form-control" placeholder="Descrição" ng-readonly="pCtrl.tabDelete" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="pCtrl.tabDelete" ng-click="pCtrl.addAddiction($index)">
                            <i class="fa fa-plus"></i>
                        </button>
                    <button class="btn btn-warning" ng-disabled="pCtrl.tabDelete" ng-click="pCtrl.cloneAddiction($index, addiction)">
                            <i class="fa fa-clone" ></i>
                        </button>
                    <button class="btn btn-danger" ng-disabled="pCtrl.tabDelete" ng-click="pCtrl.deleteAddiction($index)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>