<content-header name="Exames" small="Cadastro"></content-header>
<section class="content">
    <div class="nav-tabs-custom" ng-controller="ExaminationCtrl as eCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="eCtrl.tabList" ng-class="{active: eCtrl.tabList}">
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars"></i> Lista
                </a>
            </li>
            <li ng-if="eCtrl.tabCreate">
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="eCtrl.tabUpdate" ng-class="{active: eCtrl.tabUpdate}">
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Alterar
                </a>
            </li>
            <li ng-if="eCtrl.tabDelete" ng-class="{active: eCtrl.tabDelete}">
                <a href data-target="#tabDelete" data-toggle="tab">
                    <i class="fa fa-trash-o"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tabList" ng-include="'exames/list.html'" 
            ng-class="{active: eCtrl.tabList}" ng-if="eCtrl.tabList"></div>
            <div class="tab-pane" id="tabCreate" ng-include="'exames/form.html'"
            ng-if="eCtrl.tabCreate"></div>
            <div class="tab-pane" id="tabUpdate" ng-include="'exames/form.html'"
            ng-class="{active: eCtrl.tabUpdate}" ng-if="eCtrl.tabUpdate"></div>
            <div class="tab-pane" id="tabDelete" ng-include="'exames/form.html'"
            ng-class="{active: eCtrl.tabDelete}" ng-if="eCtrl.tabDelete"></div>
        </div>
    </div>
</section>